<h2>Контакты</h2>

<form action="/contacts" method="POST">

<div class="mb-3">
  <label>Напишите ваше имя</label>
  <input name="name" type="text" class="form-control" placeholder="Иван" >
</form> 

<div class="mb-3">
  <label>Напишите ваш e-mail</label>
  <input name="email" type="text" class="form-control" placeholder="name@example.com" >
</form> 

 <div class="mb-3">
  <label></label>
  <label>Сообщение</label>
  <input name="body" type="text" class="form-control" placeholder="Напишите нам сообщение!">	
  
</div>
  
  
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>

